.bg-color-header {
    border-radius: 25px 25px 25px;
    background-color: #aeb01e;
    color: rgb(1, 34, 7);
}

.custom-link {
    padding: 4px 20px;
    margin: 0;
    text-decoration: none;
    color: rgb(20, 8, 8);
    background-color: #b4b40e;
    border: 2px solid #dde958;
    margin-right: 20px;
    transition: color 0.3s;
}

.custom-link:hover {
    background-color: #7a7a04;
    color: rgb(255, 255, 255);
    border: solid 1px #efefa8;
}

.custom-button {
    padding: 4px 20px;
    margin: 0;
    color: rgb(0, 0, 10);
    background-color: #b4b40e;
    border: 2px solid #dde958;
}

.custom-button:hover {
    background-color: #7a7a04;
    color: rgb(255, 255, 255);
    border: solid 1px #efefa8;
}

.bg-color {
    display: flex;
    align-items: center;
    background-color: transparent;
}